<h2>
  <%= link_to '追加', new_welcome_path, class: 'header-menu' %>
  <% %>
  家計簿
</h2>

<% judge = [] %>
<% i = 0 %>
<% flg = 0 %>

<ul>
  <% @welcomes.each do |welcome| %>
    <% judge[i] = welcome.month %>
    <% i.times do |i| %>
      <% if judge[i] == welcome.month %>
        <% flg = 1 %>
      <% end %>
    <% end %>
    <% if flg == 1 %>
      <% next %>
    <% end %>
  <li>
    <%= link_to welcome.month, welcome_path(welcome) %>月
    <% i += 1 %>
  </li>
  <% end %>
</ul>