<h2>
  <%= link_to '追加', new_welcome_path, class: 'header-menu' %>
  <% %>
  家計簿
</h2>
<ul>
  <% @welcomes.each do |welcome| %>
  <li>
    <%= link_to welcome.month, welcome_path(welcome) %>月
    <%= link_to '[X]', 
                welcome_path(welcome), 
                method: :delete,  
                class: 'command',
                data: { confirm: '削除しますか?'} %>
  </li>
  <% end %>
</ul>